<a href="https://colab.research.google.com/github/antoinexp/markov-chains-COM-516/blob/main/model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import scipy.stats as st
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt

# Uniform distribution ($\mathcal U([0,1])$)

In [3]:
def G1():
  N = 100
  positions = st.uniform().rvs((N,2))
  population = st.uniform().rvs((N,))
  return pd.DataFrame({
      "population": population, 
      "coordinates_x": positions[:,0], 
      "coordinates_y": positions[:,1]}
  )

In [4]:
G1().head()

   population  coordinates_x  coordinates_y
0    0.184264       0.832292       0.744425
1    0.612248       0.599899       0.151195
2    0.692147       0.546121       0.429728
3    0.858617       0.285748       0.424666
4    0.145023       0.743062       0.598329

# log-normal distribution

In [6]:
def G2():
  N = 1000
  positions = st.uniform().rvs((N,2))
  population = np.exp(st.norm(-5.6, 1.3).rvs((N,)))
  return pd.DataFrame({
      "population": population, 
      "coordinates_x": positions[:,0], 
      "coordinates_y": positions[:,1]}
  )

In [7]:
G2().head()

   population  coordinates_x  coordinates_y
0    0.018551       0.648263       0.953797
1    0.004296       0.611118       0.106748
2    0.000528       0.414020       0.073025
3    0.014830       0.296834       0.381163
4    0.003364       0.541590       0.100429